.conteiner {
    height: 100vh;
    background-color: #010101;
    /* background-image: url(../../extras/47837-mapa-mundi.jpg);
    background-size: contain; */
    background-repeat: no-repeat;
    background-image: url('../../extras/mapa-mundi.jpg');
    background-size: cover;
    background-position-y: -40px;
}

.form {
    max-width: max-content;
    padding: 10px 20px;
    position: absolute;
    top: -4px;
    left: 450px;
}

.input {
    background-color: rgba(255, 255, 2555, 0.150);
    width: 250px;
    height: 30px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url('../../extras/search-interface-symbol.png');
    background-size: 20px;
    background-position: 245px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.input::placeholder {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.input:focus {
    background-color: rgb(0, 0, 0, 0.500);
    color: white;
}

.btn {
    background-color: rgba(255, 255, 255, 0.150);
    border: 1px solid white;
    color: white;
    height: 33px;
    padding: 5px 15px;
    margin-left: 3px;
    border-radius: 10px;
    cursor:pointer
}

.nav {
    display: flex;
    align-items: center;
    width: 99.8%;
    height: 50px;
    position: absolute;
}

.logo {
    width: 300px;
    height: 50px;
    position: absolute;
}

.logo span {
    position: relative;
    top: 10px;
    left: -15px;
    color: white;
    text-shadow: 2px 2px 5px rgb(76, 189, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.logo > img {
    position: absolute;
    top: 1px;
    left: 0;
    width: 40px;
}

.pagination {
    position: relative;
    width: 1110px;
    left: 230px;
    height: 50px;
    top: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    position: relative;
    display: flex;
    justify-content: space-around;
    left: 1050px;
    width: 300px;
    margin: 0;
}

.button .btn {
    background-color: rgba(255, 255, 2555, 0.150);
    color: white;
    padding: 10px 20px;
    margin: 0;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font: bolder;
}


@media screen and (max-width: 500px) {
    .conteiner {
        width: 100%;
        background-color: black;
    }

    .form {
        max-width: 10%;
        padding: 10px 20px;
        position: absolute;
        top: 10px;
        left: 16%
    }

    .input {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        background-image: url('../../extras/search-interface-symbol.png');
        background-size: 20px;
        background-position: 390px;
        background-repeat: no-repeat;
        padding-left: 20px;
    }
}